@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome do sistema do Funcionario</h1>
    <p>Desenvolver no projeot para meu crescimento profissional, evoluindo da melhor forma, para aprimorar e aperfeiçoar ainda mais no estudo e na programação de desenvolvedor web .Net.</p>
</div>
